* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border: none;
	text-decoration: none;
	outline: none;
	font-family: 'Manrope', sans-serif;
}
::-webkit-input-placeholder {
    color:inherit;
    opacity:1;
}
:-ms-input-placeholder {
    color:inherit;
    opacity:1;
}
::placeholder {
    color:inherit;
    opacity:1;
}
.img-fluid{
}
.container{
	width:100%;
	max-width:1240px;
}
@media (max-width:1199px){
.container{
	width:100%;
	max-width:100%;
}
}
/*** ### Header ### ***/
header {
	position: sticky;
	top: 0px;
	padding: 15px 0px;
	background: #FFFFFF;
	z-index: 1000;
	width: 100%;
	box-shadow:0px 4px 4px 0px rgba(0,0,0,0.25);
	transition:all 0.2s ease-in-out;
}
header.fixed{
	padding:10px 0px;
}
header .logo {
	position: relative;
	text-align: left;
	color: #FFFFFF;
	font-size: 25px;
	font-weight: 400;
}
header .logo a {
	color: inherit;
	text-decoration: none;
	outline: none;
}
header .logo img {
	display: inline-block;
	vertical-align: middle;
}
.navigation {
	position: relative;
}
.navigation nav {
	position: relative;
}
.navigation nav ul {
	margin: 0px;
	padding: 0px;
	text-align: right;
}
.navigation nav ul li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0px 20px;
}
.navigation nav ul li:first-child {
	margin-left: 0px;
}
.navigation nav ul li:last-child {
	margin-right: 0px;
}
.navigation nav ul li a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: #18191F !important;
	font-size: 16px;
	outline: none;
	font-weight: 700;
}
.navigation nav ul li a.active{
	font-weight:700;
}
header .top-btn{
	position:relative;
	text-align:right;
}
header .top-btn .profile-box{
	position: relative;
	display:inline-block;
	vertical-align:middle;
	width:50px;
}
header .top-btn .profile-box .countery-name{
	position:relative;
	display:block;
	text-align:left;
	padding:0px 10px 0px 0px;
	cursor:pointer;
}
header .top-btn .profile-box .countery-name:before{
	position:absolute;
	content:"\f107";
	top:50%;
	right:0px;
	transform:translate(0%,-50%);
	-webkit-transform:translate(0%,-50%);
	-moz-transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%);
	-o-transform:translate(0%,-50%);
	font-size:20px;
	font-family:'FontAwesome';
}
header .top-btn .profile-box ul{
	margin:0px;
	padding:15px 0px 0px 0px;
    list-style: none;
	background: #FFFFFF;
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: 100;
	width:100%;
    max-height: 0px;
	overflow:hidden;
	visibility:hidden;
    transition: max-height .3s ease-out;
}
header .top-btn .profile-box li {
	position:relative;
	display:block;
	margin:0px 0px 5px 0px;
	padding:0px;
}
header .top-btn .profile-box a {
	position:relative;
	color:inherit;
	display: block;
	text-align:left;
	text-decoration:none;
	outline:none;
}
header .top-btn .profile-box li.active {
	display: block;
}
header .top-btn .profile-box:hover ul{
	overflow:visible;
	visibility:visible;
	max-height:600px;
}
header .top-btn a.action-btn{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	background:#f12d45;
	padding:0px 0px;
	margin:0px 15px 0px 0px;
	height:40px;
	line-height:40px;
	min-width:100px;
	max-width:100px;
	width:100%;
	border-radius:5px;
	color:#FFFFFF;
	font-size:14px;
	font-weight:700;
	text-align:center;
	background: linear-gradient(96.91deg, #0C68C2 0.24%, #67CBF2 66.03%);
}
header .top-btn a.action-btn:hover{
	background:#F2F2F2;
	color:#4F4F4F;
}
header .top-btn a.action-btn.active{
	background:#F2F2F2;
	color:#4F4F4F;
}
header .top-btn a.action-btn.active:hover{
	color:#FFFFFF;
	background: linear-gradient(96.91deg, #0C68C2 0.24%, #67CBF2 66.03%);
}
header .top-btn a.action-btn .iner{
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	width:100%;
	text-align:center;
}
.device-nav {
	position: absolute;
	top: 50%;
	right: 0px;
	cursor: pointer;
	color: #000000;
	z-index: 1000;
	display: none;
	text-align: center;
	transform: translate(0%, -50%);
	transform: -webkit-translate(0%, -50%);
	transform: -moz-translate(0%, -50%);
	transform: -ms-translate(0%, -50%);
	transform: -o-translate(0%, -50%);
}
.device-nav span.icon {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: linear-gradient(96.91deg, #0C68C2 0.24%, #67CBF2 66.03%);
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
}
@media (max-width:1199px){
header {
	padding: 10px 0px;
}
header.fixed{
	padding:10px 0px;
}
header .logo img {
	max-height:30px;
}
.navigation nav ul li {
	margin: 0px 10px;
}
.navigation nav ul li a {
	font-size: 15px;
}
}
@media only screen and (max-width: 991px) {
header {
	position: sticky;
	position: -webkit-sticky;
	padding: 10px 0px !important;
	top: 0px;
	z-index: 10000;
}
header.fixed{
	padding:10px 0px;
}
header .logo img {
	max-height:30px;
}
.device-nav {
	display: block;
}
.navigation nav {
	-o-transform: translate(100%);
	-o-transform-origin: 0 0;
	-o-transition: -o-transform .5s cubic-bezier(.77, .2, .05, 1);
	-webkit-font-smoothing: antialiased;
	-webkit-transform: translate(100%);
	-webkit-transform-origin: 0 0;
	-webkit-transition: -webkit-transform .5s cubic-bezier(.77, .2, .05, 1);
	height: calc(100% + 100px);
	top: 50px;
	left: 0;
	list-style-type: none;
	position: fixed;
	right: 0;
	transform: translate(100%);
	transform-origin: 0 0;
	transition: -webkit-transform .5s cubic-bezier(.77, .2, .05, 1);
	transition: transform .5s cubic-bezier(.77, .2, .05, 1);
	transition: transform .5s cubic-bezier(.77, .2, .05, 1), -webkit-transform .5s cubic-bezier(.77, .2, .05, 1), -o-transform .5s cubic-bezier(.77, .2, .05, 1);
	background: #FFFFFF;
}
.navigation nav.reveal {
	opacity: 1;
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	background: #FFFFFF;
}
 .navigation. nav, .navigation nav ul, .navigation nav ul li, .navigation nav ul li a {
    display: block;
    width: 100%;
}
.navigation nav ul {
	text-align: center;
	margin: 0px;
	padding: 15px 0px;
}
.navigation nav ul li {
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px 10px;
}
.navigation nav ul li a {
	text-decoration: none;
	width: 100%;
	display: block;
	padding: 10px 15px;
	font-size: 16px;
	margin: 0px;
}
header .top-btn{
	padding-right:25px;
}
header .top-btn a.action-btn{
	margin:0px 0px 0px 0px;
	height:30px;
	line-height:30px;
	min-width:70px;
	max-width:70px;
	font-size:12px;
}
}
@media (max-width: 414px) {
header .top-btn a.action-btn{
	margin:0px 0px 0px 0px;
	height:30px;
	line-height:30px;
	min-width:40px;
	max-width:40px;
	font-size:12px;
}
}
.title{
	font-size:35px;
}
a.btn-primary{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	background: linear-gradient(96.91deg, #0C68C2 0.24%, #67CBF2 66.03%);
	border:1px solid #67CBF2;
	border-radius: 8px;
	text-decoration:none;
	outline:none;
	color:#FFFFFF;
	font-weight:700;
}
a.btn-primary:hover{
	border:1px solid #67CBF2 !important;
	background:none !important;
	color:#67CBF2 !important;
}
a.btn-primary.active{
	border:1px solid #67CBF2 !important;
	background: none !important;
	color:#67CBF2 !important;
}
a.btn-primary.active:hover{
	border:1px solid #67CBF2 !important;
	background: linear-gradient(96.91deg, #0C68C2 0.24%, #67CBF2 66.03%) !important;
	color:#FFFFFF !important;
}
@media (max-width: 1199px) {
.title{
	font-size:30px;
}
}
@media (max-width: 991px) {
.title{
	font-size:25px;
}
}
@media (max-width: 767px) {
.title{
	font-size:22px;
}
}
/*** ### Hero Section ### ***/
/*** ### Crypto Exchange Section ### ***/
.hero-section{
	position:relative;
	padding:5% 0px 10% 0px;
	z-index:2;
}
.hero-section:before{
	position:absolute;
	content:"";
	top:0px;
	right:0px;
	bottom:0px;
	width:60%;
	background:url(../images/Vector%201.png) top right no-repeat;
	background-size:100% 100%;
	z-index:-1;
}
.hero-section:after{
	position:absolute;
	content:"";
	top:0px;
	left:0px;
	bottom:-40%;
	width:5%;
	background:url(../images/Vector%203.png) bottom right no-repeat;
	background-size:100%;
	z-index:-1;
}
.hero-section h1{
	color:#67CBF2;
	font-size:20px;
	font-weight:500;
	margin:0px 0px 20px 0px;
	padding:0px;
}
.hero-section h2{
	color:#18191F;
	font-size:60px;
	font-weight:800;
	margin:0px 0px 50px 0px;
	padding:0px;
}
.hero-section p{
	color:#18191F;
	font-size:18px;
	font-weight:400;
	margin:0px 0px 15px 0px;
	padding:0px;
}
.hero-section .action-btn{
	position:relative;
	margin:30px 0px 0px 0px;
}
.hero-section .action-btn a{
	position:relative;
	text-align:center;
	text-decoration:none;
	outline:none;
	display:inline-block;
	vertical-align:middle;
	width:100%;
	max-width:200px;
	height:60px;
	line-height:60px;
	margin:0px 10px 10px 0px;
}
.hero-section .right-box{
	position:relative;
}
.hero-section .right-box img{
	display:block;
	margin:auto;
}
@media (max-width: 1199px) {
.hero-section{
	padding:75px 0px 150px 0px;
}
.hero-section:before{
}
.hero-section:after{
}
.hero-section h1{
	font-size:18px;
	margin:0px 0px 15px 0px;
}
.hero-section h2{
	font-size:50px;
	margin:0px 0px 30px 0px;
}
.hero-section p{
	font-size:16px;
}
.hero-section .action-btn{
	margin:20px 0px 0px 0px;
}
.hero-section .action-btn a{
	max-width:150px;
	height:50px;
	line-height:50px;
}
}
@media (max-width: 991px) {
.hero-section{
	padding:50px 0px;
	background:#F2F2F2;
}
.hero-section:before{
	display:none;
}
.hero-section:after{
	display:none;
}
.hero-section h1{
	font-size:16px;
	margin:0px 0px 15px 0px;
}
.hero-section h2{
	font-size:40px;
	margin:0px 0px 30px 0px;
}
.hero-section p{
	font-size:15px;
}
.hero-section .action-btn{
	margin:20px 0px 0px 0px;
}
.hero-section .action-btn a{
	max-width:150px;
	height:50px;
	line-height:50px;
}
}
@media (max-width: 767px) {
.hero-section h1{
	font-size:15px;
}
.hero-section h2{
	font-size:30px;
}
.hero-section .action-btn a{
	max-width:130px;
}
}
/*** ### Counter Section ### ***/
.currency-section{
	position:relative;
}
.currency-section .iner{
	position:relative;
	padding:30px 40px;
	background:#F5F8FF;
	border-radius:10px;
}
.currency-section .main-boxes{
	position:relative;
	display:flex;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	-o-justify-content:space-between;
}
.currency-section .boxes{
	position:relative;
	width:30%;
}
.currency-section .boxes h3{
	position:relative;
	color:#4F4F4F;
	font-size:20px;
	font-weight:700;
	padding:0px 0px 0px 55px;
	margin:auto auto 15px auto;
	line-height:40px;
	width:100%;
	max-width:90%;
}
.currency-section .boxes h3 .text{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	line-height:normal;
}
.currency-section .boxes h3 .icon-images{
	position:absolute;
	top:0px;
	left:0px;
	width:40px;
}
.currency-section .boxes table{
	position:relative;
	width:100%;
	border-collapse:inherit;
	border:none;
	table-layout:fixed;
	margin:15px 0px 0px 0px;
}
.currency-section .boxes table tr{
	position:relative;
	color:#4F4F4F;
	font-size:16px;
	font-weight:400;
	text-align:center;
	height:25px;
}
.currency-section .boxes table tr.space {
	height:10px;
}
@media (max-width: 1199px) {
.currency-section .iner{
	padding:20px 15px;
}
.currency-section .main-boxes{
	position:relative;
}
.currency-section .boxes{
	width:32%;
}
.currency-section .boxes h3{
	font-size:18px;
	width:100%;
	max-width:100%;
}
.currency-section .boxes table tr{
	font-size:15px;
}
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
.currency-section .iner{
	padding:20px 15px;
}
.currency-section .main-boxes{
	position:relative;
	display:block;
}
.currency-section .boxes{
	display:inline-block;
	vertical-align:top;
	margin-bottom:20px;
	width:100%;
}
.currency-section .boxes h3{
	font-size:18px;
	width:100%;
	max-width:100%;
}
.currency-section .boxes table tr{
	font-size:15px;
}
}
/*** ### Counter Section ### ***/
.about-section{
	position:relative;
	padding:100px 0px;
	background:#FFFFFF;
	z-index:2;
}
.about-section:before{
	position:absolute;
	content:"";
	top:0%;
	right:0px;
	bottom:-300px;
	width:5%;
	background:url(../images/Vector%204.png) bottom right no-repeat;
	background-size:100%;
	z-index:-1;
}
.about-section .left-box{
	position:relative;
}
.about-section .left-box img{
	display:block;
	margin:auto;
}
.about-section .right-box{
	position:relative;
}
.about-section .right-box h2{
	color:#18191F;
	font-size:16px;
	font-weight:700;
	margin:0px 0px 15px 0px;
	padding:0px;
}
.about-section .right-box h3{
	color:#18191F;
	font-weight:800;
	margin:0px 0px 20px 0px;
	padding:0px;
}
.about-section .right-box p{
	color:#18191F;
	font-size:16px;
	font-weight:400;
	margin:0px 0px 20px 0px;
	padding:0px;
}
.about-section .right-box a.more{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	color:#2D9CDB;
	font-size:16px;
	font-weight:700;
	text-decoration:none;
	outline:none;
}
@media (max-width: 1199px) {
.about-section{
	padding:50px 0px;
}
.about-section .right-box h2{
	font-size:15px;
}
.about-section .right-box h3{
	margin:0px 0px 15px 0px;
}
.about-section .right-box p{
	font-size:15px;
	margin:0px 0px 15px 0px;
}
.about-section .right-box a.more{
	font-size:15px;
}
}
@media (max-width: 991px) {
.about-section{
	padding:30px 0px;
}
.about-section:before{
	display:none;
}
}
@media (max-width: 767px) {
.about-section .left-box{
	margin-top:30px;
}
}
/*** ### Counter Section ### ***/
.services-section{
	position:relative;
	padding:0px 0px 75px 0px;
	background:#FFFFFF;
}
.services-section h2{
	color:#18191F;
	font-weight:800;
	margin:0px 0px 20px 0px;
	padding:0px;
	text-align:center;
}
.services-section h3{
	color:#18191F;
	font-size:20px;
	font-weight:600;
	margin:0px 0px 20px 0px;
	padding:0px;
}
.services-section p{
	color:#18191F;
	font-size:15px;
	font-weight:400;
	margin:0px 0px 20px 0px;
	padding:0px;
}
.services-section a.explore{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	color:#2D9CDB;
	font-size:16px;
	font-weight:700;
	text-decoration:none;
	outline:none;
}
.services-section .boxes{
	position:relative;
	margin:50px 0px 0px 0px;
}
.services-section .boxes .icon-images{
	position:relative;
	margin-bottom:30px;
}
@media (max-width: 1199px) {
.services-section{
	padding:0px 0px 50px 0px;
}
.services-section h2{
	margin:0px 0px 15px 0px;
}
.services-section h3{
	font-size:18px;
	margin:0px 0px 15px 0px;
}
.services-section p{
	margin:0px 0px 15px 0px;
}
.services-section a.explore{
	font-size:15px;
}
.services-section .boxes{
	position:relative;
	margin:30px 0px 0px 0px;
}
.services-section .boxes .icon-images{
	margin-bottom:20px;
}
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
.services-section .boxes{
	text-align:center;
}
}
/*** ### Counter Section ### ***/
.counter-section{
	position:relative;
	padding:75px 0px;
	background:#FFFFFF;
}
.counter-section .iner{
	position:relative;
	padding:50px 30px;
	background:#F5F8FF;
	border-radius:10px;
}
.counter-section h2{
	color:#18191F;
	font-weight:800;
	margin:0px 0px 10px 0px;
	padding:0px;
}
.counter-section p{
	color:#18191F;
	font-size:15px;
	font-weight:400;
	margin:0px 0px 10px 0px;
	padding:0px;
}
.counter-section .boxes{
	position:relative;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:2px solid #18191F;
}
@media (max-width: 1199px) {
.counter-section{
	padding:50px 0px;
}
.counter-section .iner{
	padding:30px 15px;
}
.counter-section .boxes{
	padding-bottom:15px;
	margin-bottom:15px;
}
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
.counter-section{
	padding:30px 0px;
}
.counter-section .iner{
	padding:25px 15px;
}
.counter-section .boxes{
	padding-bottom:15px;
	margin-bottom:15px;
}
}
/*** ### Crypto Exchange Section ### ***/
.crypto-exchange-section{
	position:relative;
	padding:50px 0px;
}
.crypto-exchange-section h2{
	color:#18191F;
	font-weight:800;
	margin:0px 0px 30px 0px;
	padding:0px;
}
.crypto-exchange-section p{
	color:#18191F;
	font-size:18px;
	font-weight:400;
	margin:0px 0px 15px 0px;
	padding:0px;
}
.crypto-exchange-section .action-btn{
	position:relative;
	margin:30px 0px 0px 0px;
}
.crypto-exchange-section .action-btn a{
	position:relative;
	text-align:center;
	text-decoration:none;
	outline:none;
	display:inline-block;
	vertical-align:middle;
	width:100%;
	max-width:200px;
	height:60px;
	line-height:60px;
	margin:0px 10px 10px 0px;
}
.crypto-exchange-section .right-box{
	position:relative;
	text-align:center;
}
.crypto-exchange-section .right-box .boxes{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	margin:0px 3%;
	width:25%;
	max-width:125px;
}
.crypto-exchange-section .right-box .boxes a.white-box{
	position:relative;
	background:#FFFFFF;
	width:100%;
	max-width:125px;
	height:90px;
	line-height:90px;
	display:block;
	margin:auto;
	border-radius:16px;
	margin-bottom:15px;
	box-shadow:0px 30px 40px 0px rgba(255,101,80,0.2);
	color:#333333;
	font-size:20px;
	font-weight:600;
	text-transform:uppercase;
	text-decoration:none;
	outline:none;
}
.crypto-exchange-section .right-box .boxes a.white-box img{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	max-height:60px;
}
@media (max-width:1199px){
.crypto-exchange-section{
	position:relative;
	padding:30px 0px;
}
.crypto-exchange-section h2{
	margin:0px 0px 20px 0px;
}
.crypto-exchange-section p{
	font-size:16px;
}
.crypto-exchange-section .action-btn{
	position:relative;
	margin:20px 0px 0px 0px;
}
.crypto-exchange-section .action-btn a{
	max-width:150px;
	height:50px;
	line-height:50px;
}
.crypto-exchange-section .right-box .boxes{
	width:30%;
	margin:0px 1%;
}
.crypto-exchange-section .right-box .boxes a.white-box{
	position:relative;
	background:#FFFFFF;
	width:100%;
	max-width:120px;
	height:80px;
	line-height:80px;
	font-size:18px;
}
.crypto-exchange-section .right-box .boxes a.white-box img{
	max-height:50px;
}
}
@media (max-width:767px){
.crypto-exchange-section{
	position:relative;
	padding:30px 0px;
}
.crypto-exchange-section h2{
	margin:0px 0px 20px 0px;
}
.crypto-exchange-section p{
	font-size:15px;
}
.crypto-exchange-section .action-btn{
	position:relative;
	margin:20px 0px 0px 0px;
}
.crypto-exchange-section .action-btn a{
	max-width:130px;
	height:50px;
	line-height:50px;
}
.crypto-exchange-section .right-box{
	margin-top:30px;
}
.crypto-exchange-section .right-box{
	display:block;
	margin:30px auto auto auto;
	width:100%;
	max-width:414px;
}
}
/*** ### App Features Section ### ***/
.features-section{
	position:relative;
	padding:75px 0px 100px 0px;
	z-index:2;
}
.features-section:before{
	position:absolute;
	content:"";
	top:0px;
	left:0px;
	bottom:0px;
	width:66%;
	background:url(../images/Vector%202.png) top left no-repeat;
	background-size:100% 100%;
}
.features-section h2{
	color:#18191F;
	font-weight:800;
	margin:0px 0px 30px 0px;
	padding:0px;
}
.features-section h3{
	color:#18191F;
	font-size:20px;
	font-weight:600;
	margin:0px 0px 10px 0px;
	padding:0px;
}
.features-section h4{
	color:#18191F;
	font-size:24px;
	font-weight:800;
	margin:0px 0px 30px 0px;
	padding:0px;
}
.features-section p{
	color:#18191F;
	font-size:15px;
	font-weight:400;
	margin:0px 0px 15px 0px;
	padding:0px;
}
.features-section .left-box{
	position:relative;
	text-align:left;
}
.features-section .left-box .boxes{
	position:relative;
	padding:0px 0px 0px 90px;
	margin-bottom:50px;
}
.features-section .left-box .boxes .icon-images{
	position:absolute;
	top:0px;
	left:0px;
	width:72px;
}
.features-section .socail-icon{
	position:relative;
}
.features-section .socail-icon a{
	position:relative;
	text-decoration:none;
	outline:none;
	display:inline-block;
	vertical-align:middle;
	margin:0px 10px 10px 0px;
}
.features-section .right-box{
	position:relative;
	text-align:right;
}
.features-section .right-box img{
	display:inline-block;
	margin:auto;
	width:100%;
	max-width:350px;
}
@media (max-width:1199px){
.features-section{
	padding:50px 0px 75px 0px;
}
.features-section:before{
	position:absolute;
	content:"";
	top:0px;
	left:0px;
	bottom:0px;
	width:78%;
	background:url(../images/Vector%202.png) top left no-repeat;
	background-size:100%;
}
.features-section h2{
	margin:0px 0px 20px 0px;
}
.features-section h3{
	color:#18191F;
	font-size:18px;
}
.features-section h4{
	font-size:22px;
	margin:0px 0px 20px 0px;
}
.features-section .left-box .boxes{
	padding:0px 0px 0px 80px;
	margin-bottom:30px;
}
.features-section .left-box .boxes .icon-images{
	width:65px;
}
.features-section .right-box{
	text-align:right;
}
.features-section .right-box img{
	max-width:300px;
}
}
@media (max-width:991px){
.features-section{
	padding:50px 0px 50px 0px;
	background:#F2F2F2;
}
.features-section:before{
	display:none;
}
.features-section h2{
	margin:0px 0px 20px 0px;
}
.features-section h3{
	color:#18191F;
	font-size:18px;
}
.features-section h4{
	font-size:22px;
	margin:0px 0px 20px 0px;
}
.features-section .left-box .boxes{
	padding:0px 0px 0px 80px;
	margin-bottom:30px;
}
.features-section .left-box .boxes .icon-images{
	width:65px;
}
.features-section .right-box{
	text-align:right;
}
.features-section .right-box img{
	max-width:300px;
}
}
@media (max-width:767px){
.features-section{
	padding:30px 0px;
}
.features-section h2{
	margin:0px 0px 20px 0px;
	text-align:center;
}
.features-section h3{
	color:#18191F;
	font-size:18px;
	text-align:center;
}
.features-section h4{
	font-size:22px;
	margin:0px 0px 20px 0px;
	text-align:center;
}
.features-section p{
	text-align:center;
}
.features-section .left-box .boxes{
	padding:80px 0px 0px 0px;
	margin-bottom:30px;
}
.features-section .socail-icon{
	text-align:center;
}
.features-section .socail-icon a{
	margin:10px 5px;
	width:100%;
	max-width:130px;
}
.features-section .left-box .boxes .icon-images{
	width:65px;
	left:50%;
	top:0px;
	margin-left:-32.5px;
}
.features-section .right-box{
	text-align:center;
	margin-top:30px;
}
.features-section .right-box img{
	max-width:275px;
}
}
/*** ### Tutorial Section ### ***/
.tutorial-section{
	position:relative;
	padding:0px 0px 50px 0px;
}
.tutorial-section h2{
	color:#333333;
	font-weight:800;
	margin:0px 0px 15px 0px;
	padding:0px;
	text-align:center;
}
.tutorial-section .video-box{
	position:relative;
	margin-top:30px;
}
.tutorial-section .video-box iframe{
	border-radius:8px;
}
.tutorial-section a.btn-primary{
	position:relative;
	margin:50px 0px 0px 0px;
	width:100%;
	max-width:230px;
	height:60px;
	line-height:60px;
	font-size:18px;
	font-weight:700;
	text-align:center;
}
@media (max-width:1199px){
.tutorial-section{
	padding:0px 0px 30px 0px;
}
.tutorial-section .video-box{
	margin-top:20px;
}
.tutorial-section a.btn-primary{
	margin:30px 0px 0px 0px;
	max-width:200px;
	height:50px;
	line-height:50px;
	font-size:16px;
}
}
@media (max-width:991px){
.tutorial-section{
	padding:30px 0px;
}
}
/*** ### Testmonial Section ### ***/
.testmonial-section{
	position:relative;
	padding:0px 0px 50px 0px;
}
.testmonial-section h2{
	color:#333333;
	font-weight:800;
	margin:0px 0px 15px 0px;
	padding:0px;
	text-align:center;
}
.testmonial-section .left-box{
	position:relative;
	padding:20px 0px;
}
.testmonial-section .left-box p{
	color:#18191F;
	font-size:16px;
	line-height:30px;
	font-weight:400;
	margin:0px;
	padding:0px 0px 0px 50px;
}
.testmonial-section .left-box p .name{
	position:relative;
	display:block;
	margin:30px 0px 0px 0px;
	padding:0px;
	color:#67CBF2;
	font-weight:700;
}
.testmonial-section .left-box p .designation{
	line-height:normal;
	color:#18191F;
	font-size:15px;
	font-weight:400;
}
.testmonial-section .left-box p .quote{
	position:absolute;
	top:-15px;
	left:20px;
	max-width:40px;
}
.testmonial-section .right-box{
	position:relative;
	margin:30px 0px;
}
.testmonial-section .right-box img{
	display:block;
	margin:auto;
}
.testmonial-section .slick-initialized .slick-slide{
	display:flex;
	display:-webkit-flex;
	display:-ms-flex;
	display:-moz-flex;
	display:-o-flex;
	padding:0px 30px;
}
.testmonial-section .slick-dots{
	position:absolute;
	left:75px;
	bottom:0px;
	text-align:left;
	width:auto;
}
.testmonial-section .slick-dots li{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:10px;
	height:10px;
	border-radius:50%;
	background:#D9DBE1;
}
.testmonial-section .slick-dots li.slick-active{
	background:#2EC5CE;
}
@media (max-width:1199px){
.testmonial-section{
	padding:0px 0px 30px 0px;
}
.testmonial-section h2{
	margin:0px 0px 10px 0px;
}
.testmonial-section .left-box{
	padding:15px 0px;
}
.testmonial-section .left-box p{
	font-size:15px;
	line-height:25px;
	padding:0px 0px 0px 40px;
}
.testmonial-section .left-box p .name{
	margin:20px 0px 0px 0px;
}
.testmonial-section .left-box p .designation{
	line-height:normal;
	color:#18191F;
	font-size:15px;
	font-weight:400;
}
.testmonial-section .left-box p .quote{
	max-width:30px;
}
.testmonial-section .right-box{
	margin:15px 0px;
}
.testmonial-section .right-box img{
	display:block;
	margin:auto;
}
.testmonial-section .slick-initialized .slick-slide{
	padding:0px 15px;
}
.testmonial-section .slick-dots{
	position:absolute;
	left:50px;
	bottom:0px;
	text-align:left;
	width:auto;
}
.testmonial-section .slick-dots li{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:10px;
	height:10px;
	border-radius:50%;
	background:#D9DBE1;
}
.testmonial-section .slick-dots li.slick-active{
	background:#2EC5CE;
}
}
@media (max-width:767px){
.testmonial-section .slick-dots{
	text-align:center;
	bottom:-20px;
	left:auto;
	width:100%;
}
}
/*** ### Footer ### ***/
footer {
	position:relative;
	background: linear-gradient(96.91deg, #0C68C2 0.24%, #67CBF2 66.03%);
	padding:50px 0px;
}
footer h2{
	color:#FFFFFF;
	font-size:18px;
	font-weight:500;
	margin:0px 0px 10px 0px;
	padding:0px;
}
footer .top-footer{
	position:relative;
}
footer .top-footer .boxes{
	position:relative;
	margin-bottom:30px;
}
footer .footer-list{
	position:relative;
	text-align:center;
	margin:20px 0px 0px 0px;
}
footer .footer-list ul{
	margin:0px;
	padding:0px;
	list-style:none;
	text-align:left;
}
footer .footer-list li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:100%;
	margin-bottom:10px;
}
footer .footer-list li:last-child{
	margin-bottom:0px;
}
footer .footer-list a{
    color: #FFFFFF;
	font-size:14px;
	font-weight:400;
	text-decoration:none;
	outline:none;
}
footer .bottom-footer{
	position:relative;
	margin-top:50px;
}
footer p{
	color:#FFFFFF;
	font-size:16px;
	font-weight:400;
	margin:0px;
	padding:0px;
}
footer .social-list{
	position:relative;
	text-align:right;
}
footer .social-list a{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	color:#FFFFFF;
	font-size:25px;
	text-decoration:none;
	outline:none;
	margin:0px 15px 0px 0px;
}
footer .social-list a:last-child{
	margin-right:0px;
}
@media (max-width:1199px){
footer {
	padding:30px 0px;
}
footer .top-footer .boxes{
	margin-bottom:20px;
}
footer .footer-list{
	margin:15px 0px 0px 0px;
}
footer .footer-list li{
	margin-bottom:5px;
}
footer .bottom-footer{
	margin-top:30px;
}
footer p{
	color:#FFFFFF;
	font-size:15px;
}
footer .social-list{
	position:relative;
	text-align:right;
}
footer .social-list a{
	margin:0px 10px 0px 0px;
}
}
@media (max-width:767px){
footer p{
	text-align:center;
}
footer .social-list{
	text-align:center;
}
footer .social-list a{
	margin:0px 5px;
}
footer .footer-list a{
	font-size:12px;
}
}